main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
table{
  border-collapse: collapse;
  
  tr {
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    height: 1.5em;
    
    td:not(:last-of-type) {
      padding-right: 50px;
    }
  }
}