/* | Style variables */
:root {
  --login-width: 40vw;
}

body {
  overflow-y: hidden;
}

/* | Split Design */
main:has(#register) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;

  #tips {
    width: calc(100vw - var(--login-width));
  }

  #register {
    width: var(--login-width);
  }
}

/* | Tips screen */

/* | Register items */
#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20vh;

  > form {
    margin-top: 10px;
  }
}
