/* | Style variables */
:root {
  --login-width: 40vw;
}

body {
  overflow-y: hidden;
}

/* | Split Design */
main:has(#login) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;

  #tips {
    width: calc(100vw - var(--login-width));
  }

  #login {
    width: var(--login-width);
  }
}

/* | Tips screen */

/* | Login items */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20vh;

  /* || Links */
  > div.button_div > button {
    cursor: pointer;
    background: #3f37c9;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
  }

  > div.form_div {
    position: relative;
    display: grid;
    > form {
      margin-top: 10px;

      &#login_form {
        display: none;
      }
      &#login_form, &#reg_form {
        grid-column: 1;
        grid-row: 1;
      }
      
      /* >label:not(label[type="submit"]) {
        width: 20em;
      } */
    }
  }
}
