<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default("Stock Delivery System") }}</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}" />
    {% block css %} {% endblock %}
  </head>

  <body>
    <header>
      <h1>Stock Management System</h1>
      {% block page_title %} {% endblock %}
    </header>

    <!-- TODO make nav into burger  -->
    <nav>
      <a href="{{ url_for('homepage') }}">Home</a>
      {% if g.user %}
      <a href="{{ url_for('log_out') }}">Log Out</a>
      {% endif %}
    </nav>

    <main>
      {% block main_content %} {% endblock %}
    </main>
  </body>

</html>