<!-- Login page inspiration from OpenAI's ChatGPT login page -->
{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='main.js') }}"
  type="text/javascript" type></script>
{% endblock %}

{% block main_content %}
<section id="tips">
  {% block tip %}
  {% endblock %}
</section>
<section id="login">
  <h3>Welcome</h3>
  <div>
    <button id="reg_button">Register</button>
    <button id="login_button">Log In</button>

    <form action method="POST" novalidate id="reg_form">
      {{ reg_form.hidden_tag() }}

      {% from "_formhelpers.html" import render_field %}

      {{ render_field(reg_form.user_id)}}
      <br />

      {{ render_field(reg_form.password) }}
      <br />

      {{ render_field(reg_form.password2) }}
      <br />

      {{ reg_form.submit() }}
    </form>
    <form action method="POST" novalidate id="login_form">
      {{ login_form.hidden_tag() }}

      {% from "_formhelpers.html" import render_field %}

      {{ render_field(login_form.user_id) }}
      <br />

      {{ render_field(login_form.password) }}
      <br />

      {{ login_form.submit() }}
    </form>
  </div>
  <!-- <section id="restricted_notice">
    {% if g.restricted %}
    <p>The area you tried to access was blocked.</p>
    <p>You must have {{ g.restrictions }} privileges.</p>
    {% endif %}
  </section> -->
</section>
{% endblock %}