{% extends 'base.html' %}

{% block page_title%}
<h2>Log In</h2>
{% endblock %}

{% block main_content %}

{% if g.restricted %}
<p>The area you tried to access was blocked.</p>
<p>You must have {{ g.restrictions }} privileges.</p>
{% endif %}

<form action method="POST" novalidate>
  {{ form.hidden_tag() }}

  {% from "_formhelpers.html" import render_field %}

  {{ render_field(form.user_id) }}
  <br />
  
  {{ render_field(form.password) }}
  <br />

  {{ form.submit() }}
</form>

{% endblock %}